main_class/Movie_Schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="movie">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="title"/>
        <xs:element type="xs:short" name="year"/>
        <xs:element type="xs:string" name="rated"/>
        <xs:element type="xs:string" name="released"/>
        <xs:element type="xs:string" name="runtime"/>
        <xs:element name="genre">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="value" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="directors">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="value" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="writers">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="value" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="actors">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="value" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="plot"/>
        <xs:element name="languages">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="value" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="country"/>
        <xs:element type="xs:string" name="awards"/>
        <xs:element type="xs:anyURI" name="poster"/>
        <xs:element type="xs:byte" name="metascore"/>
        <xs:element type="xs:float" name="imdbRating"/>
        <xs:element type="xs:string" name="imdbVotes"/>
        <xs:element type="xs:string" name="imdbID"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>